# OS files
.DS_Store

# Dev notes
devnotes.txt
debug.txt

# temp stuff
*.bak
*.cache

# local stuff
.screenshots
*.geany
*.code-workspace

# ignore all the vendor cruft
/vendor/**/.*
/vendor/**/*.json
/vendor/**/*.txt
/vendor/**/*.md
/vendor/**/*.yml
/vendor/**/*.yaml
/vendor/**/*.xml
/vendor/**/*.dist
/vendor/**/readme.php
/vendor/**/LICENSE
/vendor/**/COPYING
/vendor/**/COMMITMENT
/vendor/**/VERSION
/vendor/**/docs/*
/vendor/**/example/*
/vendor/**/examples/*
/vendor/**/test/*
/vendor/**/tests/*
/vendor/**/php4/*
