# OS files
.DS_Store

# Dev notes
devnotes.txt
debug.txt
worklog.txt

# temp stuff
*.bak
*.cache

# local stuff
.screenshots
*.geany
*.code-workspace

# vendor folders
/vendor/
/node_modules

# parcel cache
.cache/
