@charset "UTF-8";
.k-commentions-text {
  /**
   * 1. Emulate `line-height: normal`
   */
  /* Links */
  /**
   * 1. Half of `line-height: normal`
   */
  /* Lists */
  /* Code blocks */
  /* Inline code */
}
.k-commentions-text > * + * {
  margin-top: 1.14em;
  /* 1 */
}
.k-commentions-text mark {
  background: #f4d08b;
  border-radius: 0.25em;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  margin: -0.125em;
  padding: 0.125em;
}
.k-commentions-text a:link {
  text-decoration: underline;
}
.k-commentions-text a[rel~=noopener] {
  -webkit-padding-end: 2ch;
          padding-inline-end: 2ch;
  position: relative;
}
.k-commentions-text a[rel~=noopener]::after {
  color: var(--color-text-light);
  content: " ↗️";
}
.k-commentions-text li + li {
  margin-top: 0.57em;
  /* 1 */
}
.k-commentions-text blockquote {
  -webkit-border-start: 2px solid var(--color-border);
          border-inline-start: 2px solid var(--color-border);
  -webkit-padding-start: calc(1em - 2px);
          padding-inline-start: calc(1em - 2px);
}
.k-commentions-text ul,
.k-commentions-text ol {
  -webkit-margin-start: 1.5em;
          margin-inline-start: 1.5em;
}
.k-commentions-text ul,
.k-commentions-text ul > li {
  list-style: disc;
}
.k-commentions-text ol,
.k-commentions-text ol > li {
  list-style: decimal;
}
.k-commentions-text .token.important,
.k-commentions-text .token.bold {
  font-weight: bold;
}
.k-commentions-text .token.italic {
  font-style: italic;
}
.k-commentions-text pre,
.k-commentions-text code {
  background: var(--color-background);
  font-family: var(--font-family-mono);
  font-size: 0.8125rem;
}
.k-commentions-text code[class*=language-],
.k-commentions-text pre[class*=language-] {
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.4;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.k-commentions-text pre {
  padding: 0.5em 1em;
  white-space: pre-wrap;
  width: 100%;
}
.k-commentions-text pre code.language-commention {
  background: transparent;
  display: block;
  white-space: pre-wrap;
  width: 100%;
}
.k-commentions-text pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
.k-commentions-text :not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.k-commentions-text .token.url,
.k-commentions-text .token.punctuation,
.k-commentions-text .token.comment,
.k-commentions-text .token.prolog,
.k-commentions-text .token.doctype,
.k-commentions-text .token.cdata,
.k-commentions-text .token.tag {
  color: var(--color-text-light);
}
.k-commentions-text .token.url .token.content,
.k-commentions-text .token.title .token.punctuation {
  color: var(--color-text);
}
.k-commentions-text .token.code.keyword,
.k-commentions-text .token.mark {
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  padding: 0.125em;
  margin: -0.125em;
  border-radius: 0.25em;
}
.k-commentions-text .token.mark {
  background: #f4d08b;
}
.k-commentions-text .token.code:not(.keyword) {
  background: rgba(22, 23, 26, 0.07);
  color: var(--color-text);
  display: block;
  margin-bottom: -1.4em;
  margin: -0.375em;
  padding: 0.375em;
}
.k-commentions-text .token.code.keyword {
  background: rgba(22, 23, 26, 0.07);
}
.k-commentions-text .token.strike {
  text-decoration: line-through;
}.k-commentions-table .k-commentions-table-item-options {
  overflow: visible;
}.k-commentions-table {
  background: #fff;
  border-spacing: 0;
  box-shadow: var(--box-shadow-item);
  font-size: var(--font-size-small);
  position: relative;
  table-layout: fixed;
  width: 100%;
}
.k-commentions-table th,
.k-commentions-table td {
  border-bottom: 1px solid var(--color-background);
  -webkit-border-end: 1px solid var(--color-background);
          border-inline-end: 1px solid var(--color-background);
  line-height: 1.25em;
  overflow: hidden;
  padding: 0.75rem 0.5rem;
  text-overflow: ellipsis;
}
.k-commentions-table th {
  background: #fff;
  color: var(--color-text-light);
  font-weight: 400;
  height: 38px;
  left: 0;
  padding: 0 0.75rem;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
[dir=ltr] .k-commentions-table th {
  text-align: left;
}
[dir=rtl] .k-commentions-table th {
  text-align: right;
}
.k-commentions-table th:last-child,
.k-commentions-table td:last-child {
  -webkit-border-end: 0;
          border-inline-end: 0;
  padding: 0;
  width: 38px;
}
.k-commentions-table td {
  vertical-align: top;
}
.k-commentions-table tr:last-child td {
  border-bottom: 0;
}
.k-commentions-table .k-commentions-column-status,
.k-commentions-table .k-commenttions-column-author {
  width: 16.6666666667%;
}
.k-commentions-table .k-commentions-column-text {
  width: auto;
}.k-commentions-section .k-button[data-theme=active] {
  position: relative;
}
.k-commentions-section .k-button[data-theme=active]::before {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  bottom: 0.6rem;
  content: "";
  left: 0.375rem;
  position: absolute;
  right: 0.375rem;
  top: 0.7rem;
}

/* overriding the component's default styles to accommodate commentions */